body{
    margin: 0;
    font-size: 40px;
    background-color: #828A95;
}

div, table{
    border-radius: 5px;
    background-color: #828A95;
}

button{
    background-color: #CCD7E4;
    height: 50px;
    width: 50px;
}

h1{
    font-size: 8vw;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    gap: 10px;
}

.inputFields{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.display{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10%;
    width: 100%;
    background-color: rgb(221, 221, 221);
}

.operations{
    justify-content: center;
    display:flex;
    gap: 10px;
}

.numbers{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.number{
    width: 50px;
    height: 70px;
    width: 100%;
}

.number:last-child {
    grid-column: 2 / 3;
}

.specials{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.logging{
    font-size: 21px;
}

.loggingTable{
    margin-top: 10px;
    background-color: rgb(244, 244, 244);
    border: 1px solid black;
}