body{
    margin: 0;
    font-size: 40px;
    background-color: lightgray;
}

div{
    border-radius: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    gap: 10px;
}

.inputFields{
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
    background-color: rgb(244, 244, 244);
}

.display{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: rgb(244, 244, 244);
}

.operations{
    justify-content: center;
    display:flex;
    gap: 10px;
}

.operation{
    width: 30px;
}

.numbers{
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.number{
    width: 50px;
}

.specials{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.decimal{
    width: 30px;
}

.logging{
    font-size: 21px;
}

.loggingTable{
    background-color: rgb(244, 244, 244);
    border: 1px solid black;
}